@font-face {
    font-family: PingFangSC-Medium; 
    src: url('../assets/fonts/PingFang Medium.ttf'); 
}

.normal{
    display: flex;
    flex: 1;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/首页-默认.png") no-repeat center center ;
    background-size : .23rem .4rem;
    
}
.home_active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/首页-选中.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/分类-默认.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.category_active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/分类-选中.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/消息-默认.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.message_active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/消息-选中.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/我的-默认.png") no-repeat center center;
    background-size : .23rem .4rem;
}
.profile_active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background: url("../assets/images/icon/我的-选中.png") no-repeat center center;
    background-size : .23rem .4rem;
}