.normal{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.home{
    color : #37C2BC;
}
.home_active{
    color : #666
}
.category{
    color : #37C2BC;
}
.category_active{
    color : #666
}
.message{
    color : #37C2BC;
}
.message_active{
    color : #666
}
.profile{
    color : #37C2BC;
}
.profile_active{
    color : #666
}